.card-container{
    display: grid;
    /* flex-wrap: wrap; */
    grid-template-columns: repeat(4,1fr);
    margin-left: 15rem;
    margin-top: 2rem;
    z-index: -2;
    transition: all .4s ease-in-out;
    @media screen and (max-width:1100px) {
        margin-left: 1rem;
    }
    @media screen and (max-width:1000px) {
    grid-template-columns: repeat(3,1fr);
    }
    @media screen and (max-width:700px) {
        grid-template-columns: repeat(2,1fr);
    }
    @media screen and (max-width:540px) {
        grid-template-columns: repeat(1,1fr);
        }
}
.card{
    margin: 20px;
    border: 2px solid #ededed;
    padding: 20px;
    cursor: pointer;
}
.card-img{
    width: 100%;
    
    margin-bottom: 1rem;
}
.card-title{
    margin-bottom: 1rem;
}
.card-reviews{
    margin-bottom: 1rem;
    display: flex;
}
.rating-star{
    color: #d5ab55;
}
.total-reviews{
    font-size: 0.9rem;
    margin-left: 8px;
}
.card-price{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bag-icon{
    color: #535353;
}